/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    /* Colors */
    --get-started-btn: hsl(322, 100%, 66%);
    --bg-clr: hsl(193, 100%, 96%);
    --header-clr: hsl(192, 100%, 9%);
    --par-clr: hsl(208, 11%, 55%);
    /* Font families */
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
    /* Font weights */
    --fw-openSans-reg: 400;
    --fw-openSans-bold: 700;
    --fw-poppins-semiBold: 600;
}

/* General styling */

body {
  font-family: var(--ff-body);
  text-align: center;
}

header {
  background-color: var(--bg-clr);
}

.try-it,
.get-started {
  font-weight: var(--fw-openSans-bold);
}

h1,
h2,
.intro-description,
.try-it {
  color: var(--header-clr);
}

h1,
h2 {
  font-family: var(--ff-headings);
}

.get-started {
  background-color: var(--get-started-btn);
  color: white;
}

p:not(.intro-description) {
  color: var(--par-clr);
}

footer,
footer .copyright {
  background-color: var(--header-clr);
  color: white;
}

/* Make image black with brightness 0 and then invert the color to get it white */
.footer-huddle-logo img {
  filter: brightness(0) invert(1);
}

/* Styles */

/* Header */
header {
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 1rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-huddle-logo {
  max-width: 6.5rem;
}

.try-it {
  background-color: white;
  padding: 0.375rem 1.5rem;
  font-size: 0.625rem;
  text-decoration: none;
  border-radius: 10rem;
  box-shadow: 0 0.313rem 0.688rem -0.625rem black;
}

.intro {
  display: grid;
  gap: 1.6rem;
  place-items: center;
  margin: 5rem auto 2rem auto;
}

.intro,
.illustration {
  max-width: 18.75rem;
}

.get-started {
  width: max-content;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0.625rem 3.75rem;
  border-radius: 3rem;
}

.illustration {
  margin: 0 auto;
  padding: 1rem 0;
}

.intro-title {
  font-size: 1.5rem;
}