/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    /* Colors */
    --get-started-btn: hsl(322, 100%, 66%);
    --bg-clr: hsl(193, 100%, 96%);
    --header-clr: hsl(192, 100%, 9%);
    --par-clr: hsl(208, 11%, 55%);
    /* Font families */
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
    /* Font weights */
    --fw-openSans-reg: 400;
    --fw-openSans-bold: 700;
    --fw-poppins-semiBold: 600;
}

/* General styling */

body {
  font-family: var(--ff-body);
  text-align: center;
}

header {
  background-color: var(--bg-clr);
}

.try-it,
.get-started {
  font-weight: var(--fw-openSans-bold);
}

h1,
h2,
.intro-description,
.try-it {
  color: var(--header-clr);
}

h1,
h2 {
  font-family: var(--ff-headings);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.get-started {
  background-color: var(--get-started-btn);
  color: white;
  box-shadow: 0px 5px 15px -10px black;
}

p:not(.intro-description) {
  color: var(--par-clr);
}

footer,
footer .copyright {
  background-color: var(--header-clr);
  color: white;
}

/* Make image black with brightness 0 and then invert the color to get it white */
.footer-huddle-logo img {
  filter: brightness(0) invert(1);
}

/* Styles */

/* Header */
header {
  background-color: var(--bg-clr);
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  padding: 1.5rem 1rem;
  display: grid;
  gap: 5rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-huddle-logo {
  max-width: 6.5rem;
}

.try-it {
  background-color: white;
  font-size: 0.625rem;
  text-decoration: none;
  padding: 0.313rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0 5px 15px -10px black;
}

.content {
  padding: 0 1.25rem;
  display: grid;
  gap: 2rem;
}

.intro {
  display: grid;
  gap: 1.75rem;
  place-items: center;
}

.get-started {
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.625rem 4rem;
  width: max-content;
  border-radius: 3rem;
}

.illustration {
  padding: 1rem 0;
}

/* Main */
main {
  padding: 4rem 1.25rem 0 1.25rem;
  display: grid;
  gap: 2.5rem;
  font-size: 0.9rem;
}

section {
  box-shadow: 0 0 15px -10px black;
  border-radius: 1rem;
  display: grid;
}

/* First section */
.grow-together {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.grow-together-img {
  margin: 2rem;
}

.grow-together-content {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

/* Second section */
.flowing {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
}

.flowing-img {
  margin: 1.5rem;
}

.flowing-content {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

/* Third section */
.users {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.users-img {
  margin: 2rem;
}

.users-content {
  display: grid;
  gap: 1rem;
  margin: 1rem 1.5rem;
}

/* Fourth section */
.ready {
  background-color: white;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 2.5rem 0rem;
  position: relative;
  top: 4rem;
  
}

.ready-title {
  font-size: 1.125rem;
}

.ready .get-started {
  font-size: 0.625rem;
  padding: 0.75rem 3rem;
}

/* Footer */
footer {
  padding: 9rem 1rem 3rem 1rem;
  text-align: left;
  display: grid;
  gap: 3rem;
}

.footer-huddle-logo {
  width: 10rem;
}

.info ul {
  display: grid;
  gap: 1.5rem;
  padding-left: 1.5rem;
}

.info li:nth-child(1) {
  list-style-image: url(images/icon-location.svg);
}

.info li:nth-child(2) {
  list-style-image: url(images/icon-phone.svg);
}

.info li:nth-child(3) {
  list-style-image: url(images/icon-email.svg);
}

.lorem {
  padding-right: 1.5rem;
}

.links {
  display: grid;
  gap: 1rem;
}

.links ul {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: white;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.social div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
}

/* Active states */
.try-it:hover,
.get-started:hover {
  opacity: 70%;
  transition: opacity 0.5s ease;
}

.social div:hover {
  color: var(--get-started-btn);
  border-color: var(--get-started-btn);
  transition: border-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

/* Animating a link underline
https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
.links a:hover {
  position: relative;
}

.links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* Desktop style */
@media screen and (min-width: 768px) {

  body {
    font-size: 1.125em;
  }

  header {
    padding: 2.75em 5rem;
    background-image: url(images/bg-hero-desktop.svg);
    gap: 2.5em;
  }

  .head-huddle-logo {
    max-width: 11em;
  }

  .try-it {
    font-size: 0.833em;
    padding: 0.9em 4em;
  }

  main {
    padding: 11em 7em 0 7em;
    place-items: center;
  }

  main p {
    font-size: 1.25em;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .intro {
    margin: auto 0;
    text-align: left;
    place-items: initial;
    flex: 1;
    gap: 1.5em;
  }

  .intro-title {
    font-size: 2.25em;
  }

  .get-started {
    font-size: 0.75em;
    padding: 1.25em 5em;
  }

  .illustration {
    flex: 1.25;
  }

  section {
    text-align: left;
  }

  .grow-together,
  .users {
    display: flex;
    flex-direction: row-reverse;
  }

  .flowing {
    display: flex;
  }

  h2 {
    font-size: 2em;
  }

  /* First section */
  .grow-together-content {
    margin: auto 7.5em;
  }

  .grow-together-img {
    margin: 3em 2.5em;
  }

  /* Second section */
  .flowing-content {
    margin: auto 1em;
  }

  .flowing-img {
    margin: 3em 5em;
  }

  /* Third section */
  .users-content {
    margin: auto 8em;
  }

  .users-img {
    margin: 3em 1em;
  }

  /* Fourth section */
  .ready {
    padding: 4.5em 8.5em;
    width: fit-content;
    top: 7em;
  }

  .ready-title {
    font-size: 2.25em;
  }

  .ready .get-started {
    font-size: 1.35em;
    padding: 1.25em 5em;
  }

  /* Footer */
  footer {
    padding: 11em 7em 3em 7em;
    grid-template-areas: 
    "logo logo logo"
    "info links social"
    "none none copyright";
    row-gap: 2em;
    column-gap: 7.75em;
  }

  footer li {
    font-size: 0.9em;
  }

  .footer-huddle-logo {
    width: 20em;
    grid-area: logo;
  }

  .info {
    grid-area: info;
    margin-bottom: auto;
  }

  .links {
    display: flex;
    height: fit-content;
    justify-content: center;
    gap: 7em;
  }

  .social {
    height: fit-content;
    justify-content: left;
  }

  .lorem {
    padding: 0;
  }

  .copyright {
    grid-area: copyright;
    margin-right: auto;
  }

}