/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    /* Colors */
    --get-started-btn: hsl(322, 100%, 66%);
    --bg-clr: hsl(193, 100%, 96%);
    --header-clr: hsl(192, 100%, 9%);
    --par-clr: hsl(208, 11%, 55%);
    /* Font families */
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
    /* Font weights */
    --fw-openSans-reg: 400;
    --fw-openSans-bold: 700;
    --fw-poppins-semiBold: 600;
}

/* General styling */

body {
  font-family: var(--ff-body);
  text-align: center;
}

header {
  background-color: var(--bg-clr);
}

.try-it,
.get-started {
  font-weight: var(--fw-openSans-bold);
}

h1,
h2,
.intro-description,
.try-it {
  color: var(--header-clr);
}

h1,
h2 {
  font-family: var(--ff-headings);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.get-started {
  background-color: var(--get-started-btn);
  color: white;
}

p:not(.intro-description) {
  color: var(--par-clr);
}

footer,
footer .copyright {
  background-color: var(--header-clr);
  color: white;
}

/* Make image black with brightness 0 and then invert the color to get it white */
.footer-huddle-logo img {
  filter: brightness(0) invert(1);
}

/* Styles */

/* Header */
header {
  background-color: var(--bg-clr);
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  padding: 1.5rem 1rem;
  display: grid;
  gap: 5rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-huddle-logo {
  max-width: 6.5rem;
}

.try-it {
  background-color: white;
  font-size: 0.625rem;
  text-decoration: none;
  padding: 0.313rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0 5px 15px -10px black;
}

.content {
  padding: 0 1.25rem;
  display: grid;
  gap: 2rem;
}

.intro {
  display: grid;
  gap: 1.75rem;
  place-items: center;
}

.get-started {
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.625rem 4rem;
  width: max-content;
  border-radius: 3rem;
}

.illustration {
  padding: 1rem 0;
}

/* Main */
main {
  padding: 4rem 1.25rem 0 1.25rem;
  display: grid;
  gap: 2.5rem;
  font-size: 0.9rem;
}

section {
  box-shadow: 0 0 15px -10px black;
  border-radius: 1rem;
  display: grid;
}

/* First section */
.grow-together {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.grow-together-img {
  margin: 2rem;
}

.grow-together-content {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

/* Second section */
.flowing {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
}

.flowing-img {
  margin: 1.5rem;
}

.flowing-content {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

/* Third section */
.users {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.users-img {
  margin: 2rem;
}

.users-content {
  display: grid;
  gap: 1rem;
  margin: 1rem 1.5rem;
}

/* Fourth section */
.ready {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 2.5rem 0;
}

.ready-title {
  font-size: 1.125rem;
}

.ready .get-started {
  font-size: 0.625rem;
  padding: 0.75rem 3rem;
}